*,
*::before,
*::after {
  box-sizing: border-box; 
}

html {
  font-family: sans-serif; 
  line-height: 1.15; 
  -webkit-text-size-adjust: 100%; 
}

body {
  margin: 5; 
}

.mb-2, .my-2 {
    margin-bottom: .5rem!important;
}
.mt-2, .my-2 {
    margin-top: .5rem!important;
}
.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}